@model Produit
<div class="col-sm-4 col-lg-4 col-md-4">


    <div class="thumbnail">

        <img src=@Url.Content(Model.ImageUrl) />
        <div class="caption">
            <h3 class="pull-right">@Model.AskedPrice.ToString("c") </h3>
            <h3>
                <a>@Model.Name</a>

            </h3>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="addTOCart text-right">
            <p class="button">
                <a class="btn btn-success" id="cartButton"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-produitId="@Model.ProduitId">Add to cart</a>
            </p>
        </div>
    </div>

</div>
