
@{
    ViewData["Title"] = "ErrorOnCommand";
}

<h2>ErrorOnCommand: verifier les informations associe a la comamnde</h2>
<p>
    Retour a la commande @Html.ActionLink("Commander","Index", "ShoppingCart")
</p>


