@model Category

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Vous etes sure vouloir supprimer cette categorie?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
Nom Categorie:        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Nombre du produits:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produits.Count)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
