
    <h1>Centre de controle</h1>
    <div style="text-align:center;">
        <h3>Operations Gerant:</h3>
        <br/>
        <a asp-controller="GerantProduit" asp-action="Index" class="btn btn-default btnMenu" role="button">Produits</a>
        <a asp-controller="GerantClients" asp-action="Index" class="btn btn-default btnMenu" role="button">Clients</a>
        <a asp-controller="GerantCarts" asp-action="Index" class="btn btn-default btnMenu" role="button">Paniers</a>
        <a asp-controller="GerantOrders"  asp-action="Index" class="btn btn-default btnMenu" role="button"> Commandes </a>
        
        <h3>Operations Gestionnaire:</h3>
        <br />

        <a asp-controller="GestionCategories" asp-action="Index" class="btn btn-default btnMenu" role="button">Categories</a>
        <a asp-controller="GestionClients" asp-action="Index" class="btn btn-default btnMenu" role="button">Statistiques Clients</a>     
    </div>
