@{
    ViewData["Title"] = "Access denied";
}
<img src="~/images/icon.jpg" />
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Desole,  Voud n'etes pas authoriser a acceder a la ressource.</p>
</header>

