
@model OrderViewModel

<br /><br />
<img src="~/images/icon.jpg" />
<form asp-action="CheckOut" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Province" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="Province" asp-items="ViewBag.provinces" class="form-control"></select>
        </div>
    </div>
   
    <div class="form-group">
        <label asp-for="Country" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="Country" asp-items="ViewBag.countries" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Payement" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="Payement" asp-items="ViewBag.payements" class="form-control"></select>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    @*<div class="form-group">
            <select asp-for="Payment" asp-items="ViewBag.payment" class="form-control"></select>
        </div>*@

    <div class="form-group">

        <div class="col-md-offsetc-2 ol-md-5">
            <input type="submit" class="btn btn-primary" value="completer commande" />
        </div>
    </div>
</form>
